body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  width: 350px;
  animation: fadeInUp 0.5s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  text-align: center;
  color: #333;
}

.input-box {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #444;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

input:focus {
  border-color: #2575fc;
  outline: none;
  box-shadow: 0 0 8px rgba(37, 117, 252, 0.3);
}

button {
  margin-top: 25px;
  width: 100%;
  background: #2575fc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s;
}

button:hover {
  background: #1741b3;
  cursor: pointer;
}

p {
  text-align: center;
  margin-top: 20px;
  color: #444;
}

p a {
  color: #2575fc;
  text-decoration: none;
  font-weight: 600;
}

p a:hover {
  text-decoration: underline;
}